* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(125deg, #5C258D, #4389A2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}